@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
  
:root {
  --leftSide_progressBar_background: #081921;
  --leftSide_background: #1D3557;
  --rightSide_jobTitle: #457B9D;
  --icon: #E63946;
  --background: #fff;
  --rightSide_text: #333;
  --rightSide_companyTitle: #848c90;
  --rightSide_skillTitle: #848c99;
  --rightSide_progressBar_background: #4c0f14;
  --rightSide_background: #fff;
  --boxShadow: 0 35px 55px rgba(0,0,0,0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1200px;    
  background: var(--rightSide_background);
  display: grid;
  grid-template-columns: 1fr 4fr;
  box-shadow: var(--boxShadow);
}

.container .left_side {
  position: relative;
  background: var(--leftSide_background);
  color: var(--rightSide_background);
  padding: 40px 18px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(255,255,255, 0.2);
  font-size: 0.76rem;
  width: 230px;
}

.profileText {
  position: relative;
}

.profileText .imgBx {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.profileText .imgBx img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 67%;
  transform: scaleX(-1);
}

.profileText h2 {
  color: var(--rightSide_background);
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.2em;
}

.profileText h2 span {
  font-size: 0.8em;
  font-weight: 300;
  text-transform: none;


}

.contactInfo {
  padding-top: 30px;
}

.title {
  color: var(--rightSide_background);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.contactInfo ul {
  position: relative;
}

.contactInfo ul li {
  position: relative;
  list-style: none;
  margin: 4px 0;
  cursor: pointer;
}

.contactInfo ul li .icon {
  display: inline-block;
  width: 20px;
  font-size: 16px;
  color: var(--icon);
}

.contactInfo ul li span {
  color: var(--rightSide_background);
  font-weight: 300;
}

.alignedText {
  padding-left: 24px;
}

.contactInfo.education li {
  margin-bottom: 15px;
}

.contactInfo.education h5 {
  color: var(--icon);
}

.contactInfo.education h4:nth-child(2) {
  color: var(--rightSide_background);
  font-weight: 500;
}

.contactInfo.education h4 {
  color: var(--rightSide_background);
  font-weight: 300;
}

.contactInfo.language {
  padding-top: 15px;
}

.contactInfo.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: var(--leftSide_progressBar_background);
  display: block;
  margin-top: 5px;
}

.contactInfo.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--icon);
}

.container .right_side {
  position: relative;
  background: var(--rightSide_background);
  padding: 40px 20px;
  font-size: 0.70rem;
}

.about {
  margin-bottom: 30px;
}

.about:last-child {
  margin-bottom: 0;
}

.title2 {
  color: var(--leftSide_background);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1.2rem;
}

.title3 {
  color: var(--leftSide_background);
  text-transform: uppercase;
  letter-spacing: .8px;
  font-size: .9rem;
  margin-top: 20px;
}

p {
  color: var(--rightSide_text);
}

.about .box {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
}

.about .box .year_company {
  min-width: 220px;
}

.about .box .year_company h5 {
  text-transform: uppercase;
  color: var(--rightSide_companyTitle);
  font-weight: 600;
}

.about .box .text h4 {
  text-transform: uppercase;
  color: var(--rightSide_jobTitle);
  font-size: 16px;
}

.about .box .text ul {
  grid-column: auto;
  column-count: 2;
  column-gap: 20px;
}

.skillbox {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  justify-content: center;
  align-items: center;

}

.skills .box {
  position: relative;
  width: 100%;
  display: table-row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 0;
}

.skills .box h4 {
  text-transform: uppercase;
  color: var(--rightSide_skillTitle);
  font-weight: 500;
}

.skills .box .percent {
  position: relative;
  width: 100%;
  height: 8px;
  background: var(--rightSide_progressBar_background);
}

.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--icon);
}

.interest ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
list-style: none;
color: var(--rightSide_text);
font-weight: 500;
margin: 10px 0;
}

.interest ul li .icon {
  display: inline-block;
  color: var(--icon);
  font-size: 18px;
  width: 20px;
  padding-right: 30px;
}
