@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
  --website-background: lightblue;
  --page-background: #fff;
  --left_side-background: #003147;
  --icon-font: #03a9f4;
  --skillbar-foreground:;
  --skillbar-background: #081921;
  --right_side-header-1: #333;
  --right_side-header-2: #848c90;
  --right-side-header-3: #2a7da2;
  --right_side-skillbar-background: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--website-background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;    
  background: var(--page-background);
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container .left_side {
  position: relative;
  background: var(--left_side-background);
  padding: 40px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255,255,255, 0.2);
}

.profileText {
  position: relative;
}

.profileText .imgBx {
  position: relative;
  width: 265px;
  height: 265px;
  border-radius: 50%;
  overflow: hidden;
}

.profileText .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 64%;
  transform: scaleX(-1);

}

.profileText h2 {
  color: var(--page-background);
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.2em;
}

.profileText h2 span {
  font-size: 0.8em;
  font-weight: 300;

}

.contactInfo {
  padding-top: 40px;
}

.title {
  color: var(--page-background);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.contactInfo ul {
  position: relative;
}

.contactInfo ul li {
  position: relative;
  list-style: none;
  margin: 6px 0;
  cursor: pointer;
}

.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: var(--icon-font);
}

.contactInfo ul li span {
  color: var(--page-background);
  font-weight: 300;
}

.alignedText {
  padding-left: 35px;
}

.contactInfo.education li {
  margin-bottom: 25px;
}

.contactInfo.education h5 {
  color: var(--icon-font);
}

.contactInfo.education h4:nth-child(2) {
  color: var(--page-background);
  font-weight: 500;
}

.contactInfo.education h4 {
  color: var(--page-background);
  font-weight: 300;
}

.contactInfo.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: var(--skillbar-background);
  display: block;
  margin-top: 5px;
}

.contactInfo.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--icon-font);
}

.container.right_side {
  position: relative;
  background: var(--page-background);
}

.about {
  margin-bottom: 40px;
  padding-top: 15px;
}

.about:last-child {
  margin-bottom: 0;
}

.title2 {
  color: var(--left_side-background);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 8px;

}

p {
  color: var(--right_side-header-1);
}

.about .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.about .box .year_company {
  min-width: 150px;
}

.about .box .year_company h5 {
  text-transform: uppercase;
  color: var(--right_side-header-2);
  font-weight: 600;
}

.about .box .text h4 {
  text-transform: uppercase;
  color: var(--right-side-header-3);
  font-size: 16px;
}

.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}

.skills .box h4 {
  text-transform: uppercase;
  color: var(--right_side-header-2);
  font-weight: 500;
}

.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background: var(--right_side-skillbar-background);
}

.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--icon-font);
}

.interest ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
list-style: none;
color: var(--right_side-header-1);
font-weight: 500;
margin: 10px 0;
}

.interest ul li .icon {
  display: inline-block;
  color: var(--icon-font);
  font-size: 18px;
  width: 20px;
  padding-right: 30px;
}

@media (max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1,1fr);
  }

  .interest ul {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 600px) {
  .about .box {
    flex-direction: column;
  }

  .about .box .year_company {
    margin-bottom: 5px;
  }
}